apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - opensearch.yaml
  - search-indexer.yaml
  - monitoring.yaml

configMapGenerator:
  - name: grafana-dashboards
    namespace: search
    options:
      disableNameSuffixHash: true
    files:
      - opensearch-overview.json=../grafana/dashboards/opensearch-overview-dashboard.json
      - aws-opensearch.json=../grafana/dashboards/AWS_OpenSearch.json
      - os-k8s.json=../grafana/dashboards/OS_k8s.json

