apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - opensearch.yaml
  - search-indexer.yaml
  - monitoring.yaml

configMapGenerator:
  - name: grafana-dashboards
    namespace: search
    options:
      disableNameSuffixHash: true
    files:
      - opensearch-overview.json=opensearch-overview-dashboard.json
      - aws-opensearch.json=AWS_OpenSearch.json
      - os-k8s.json=OS_k8s.json

